*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.calculator-container
{
    width: 320px;
    background: #222;
    padding: 20px;
    border-radius: 15px;
    margin: 50px auto;
}
.display
{
    height: 80px;
    background: #111;
    color: white;
    font-size: 3rem ;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}
.button-grid
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
}
.btn
{
    height: 40px;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    background: #444;
    color: white;
    cursor: pointer;
}
.btn-operater
{
    background: #ff9500;
}
.btn-clear
{
    background: #ff3d30;
}
.btn-zero
{
    grid-column: span 2;
}
.btn:hover { background: #555; }
.btn-operator:hover { background: #ffb733; }